.container {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px); 
    margin-right: calc(50% - 400px);
    margin-bottom: 30px;
}

.logo {
    float: left;
}

.menu {
    float: right;
    margin-top: 10px;
    margin-right: 10%;
}

.link {
    margin-left: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

.link:hover {
color: #648;
text-decoration: underline;
}

.link:first-child {
    margin-left: 0;
}

.left-column {  
    margin-top: 10%;  
    width: 40%;
    float: left;
}

main h1 {
    margin: 0;
    font-size: 60px;
    font-weight: lighter;
    width: 40%;
}

main h2 {
    margin: 0;
    font-size: 55px;
    letter-spacing: -2px;
}
main hr {
    float: left;
    width: 30%; 
    height: 4px; 
    background-color: #648;
    border-radius: 2px;
    border: none; 
    margin-bottom: 0%;  
}
main p {
    margin-top: 10%;
    width: 100%;
    color: #777;
}

.left-column > div {
    margin-top: 20px;

}

.btn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #648;
    font-size: 23;
    line-height: 10px;
    background-color: #648;
    color: white;
    display: inline-block;
 }

 .btn:hover {
     box-shadow: 0px 10px 15px rgb(88, 61, 119);
 }

 .btn:last-child {
     color: #648;
     background-color: white;
     font-size: 20px;
 }

.gif { 
    width: 60%;
    float: right;
}

footer {
    font-weight: bold;
}
.social-icons {
    float: left;
}

.social-icons > a {
    text-decoration: none;
    color: #777;

    transition: all 1s;
}

.social-icons > a + a {
    margin-left: 10px;
}

.social-icons a:nth-of-type(1):hover {
    color: blue;
}

.social-icons a:nth-of-type(2):hover {
    color: aqua;
}

.social-icons a:nth-of-type(3):hover {
color: orange;
}

.social-icons a:nth-of-type(4):hover {
    color: deepskyblue;
}

footer p {
    font-size: 13px; 
    float: right;
    margin-top: 0;
     margin-right: 10%;
}