header,
main,
footer {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px); 
    margin-right: calc(50% - 400px);
    margin-bottom: 30px;
}

header > img {
    float: left;
}
nav {
    float: right;
    margin-top: 10px;
}

nav a {
    margin-left: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none ;
}

nav > a:first-child {
    margin-left: 0;
}

main > div {    
    width: 40%;
    float: left;
}

main h1 {
    margin: 0;
    font-size: 60px;
    font-weight: lighter;
    width: 40%;
}

main h2 {
    margin: 0;
    font-size: 55px;
    letter-spacing: -2px;
}

main p {
    width: 100%;
    color: #777;
}

div > div {
    margin-top: 20px;
}
main a {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #648;
    font-size: 23;
    line-height: 10px;
    background-color: #648;
    color: white;
    display: inline-block;
 }

 main a:last-child {
     color: #648;
     background-color: white;
     font-size: 20px;
 }

main > img { 
    width: 60%;
    float: right;
}

footer {
    background-color: darkgray; 
    font-weight: bold;
}
